@media (max-width:1000px){
    
    .container{
        
        padding: 0 15px;
        margin: 0 auto;
    }
    header{
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 95%, 0 100%);
       
    }
    header nav {
        padding: 1rem 0;
    
    }

    header nav .branding{
        margin-right: auto;
    }

    .hero{
        display: flex;
        flex-direction: column;
        padding-top: 8rem;
    }
    .hero .left img{
        width: 400px;
        border-radius: 10px;
        box-shadow: -5px 5px 20px var(--primary), 0px 0px 20px var(--pure);
        transition: all 10;
        margin-bottom: 3rem;
        
    }

    .hero .left{
        padding-left: 0;
    }

    .hero .right{
        color: var(--pure);
        padding-top: 10rem;
        text-align: center;
    }

    .hero .right h1{
        font-size: 3rem;
        font-weight: 100;
        line-height: 1.2;
        margin-bottom: 2rem;
        color: var(--ternary);
    
    }
    
    .man-3{
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    .man-2{
        margin-bottom: 2rem;
    }

    section.about p{
        width: 80%;
        margin: auto;
    }

    section.services .card-wrapper .card{
        width: 289px;
        height: 251px;
    }

    section.services .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    section.work .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }

    section.contact .card-wrapper{
        grid-template-columns: repeat(1,1fr);   
    }
    
}

@media (max-width:481px){

    header{
        width: 102%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 95%, 0 100%);
       
    }

    section.services .card-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .hero .left img{
        width: 340px;
    }

    section .slider-local .slide-local{
        padding: 3rem;
   }

   section.work .card-wrapper{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
   }

   section.work .card-wrapper .card{
    width: 80%;
   }

   .section.about .row{
    display: flex;
    flex-direction: column;
    background-color: red;
   }

}
