.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.btn-local {
    padding: 0.8rem 3rem;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;

}
.btn-primary-local{
    background-color: var(--primary);
    color:var(--secondary)


}

.btn-primary-local:hover{
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary) !important;
}

.btn-secondary-local{
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn-secondary-local:hover{
    background:var(--primary);
    color: var(--dark);
    
}

.flex-1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}

